/*Tablet*/
@media (min-width: 700px) and (max-width: 1200px) {
	h1 {
		font-size: 30px;
	}
	
	h2 {
		font-size: 22px;
	}
	
	h3 {
		font-size: 18px;
	}
	
	 p {
		font-size: 14px !important;
	}
	
	.all-members .member {
	    width: 400px;	   
	}
	
	.member-overlay {
		display: none;
	}
	
	.member-social {
		left: 25%;
		opacity: 1;
		margin: 0 auto;
		margin-top: 100px;	
		margin-left: 20px;
		background: rgba(0, 0, 0, 0.5);		
		display: flex;
		justify-content: center;
	}
}

/*Mobile*/
@media (max-width: 699px) {	
	header {
		height: 600px ;
		overflow: hidden;	
	}	
	
	.header-img {
		height: 600px;	
	}

	.promo-text-1 { 
		padding-top: 80px;
	}
	
	.main-menu a {
		padding: 10 px 20px;
	}
	
	.all-serv {
		display: flex;
		flex-direction:  column;
		justify-content: center;		
	}
	
	.serv {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	
	h1 {
		font-size: 26px;
	}
	
	h2 {
		font-size: 20px;
		padding: 10px 20px;
	}
	
	h3 {
		font-size: 14px;
		padding: 0 20px;
	}
	
	p {
		font-size: 12px !important;
	}
	
	.about .column {
		flex-direction: column;
		justify-content: center
	}
	
	.about .column p {
		width: 90%;
		margin-right: 30px;
	}
	
	.column-left, .column-right {
		margin: 0 20px;
	}
	
	.all-members .member {
	    width: 80%;	
		margin: 0;
		padding: 0;
	}
	
	.member-overlay {
		display: none;
	}	
		
	.member-social {
		display: none;
		width: 30%;
	}
	
	.works-menu {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	
	.works-menu li a {
		font-size: 18px;
		padding: 20px 40px;		
	}
	
	.work figcaption {
		left: 50px;
	}
	
	.work figcaption span {
		margin-left: 60px;
	}
	
	.work .btn-work {
		margin-left: 50px;
	}
	
	.blog {
		display: none;
	}
	
	.clients ul {
		display: flex;
		justify-content: space-around;
		flex-wrap:wrap;	
	}
	
	.clients ul li {
		margin: 20px;
	}
	
	.contacts {
		width: 80%;		
	}	
	
	.form {
		display: none;
	}
	
	.form textarea {
		width: 70%;
		margin-right: 170px !important;	
	}
	
	.form p {
		display: none;
	}
	
	.copyright {
		font-size: 20px;
	}
}

@media (max-width: 1000px)  {
	.main-menu {
		width: 100%;
		padding: 0;
		padding-top: 30px;		
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.main-menu a {
		padding: 10px 20px;
	}	
}

@media (min-width:360px) and (max-width: 700px) {
	.work .work-overlay {
		left: -50px;
	}
	
	.work h2,
	.work span,
	.work a 	{
		left: 30px;		
	}	
}

@media (max-width: 460px) {
	header b {
		font-size: 35px !important;
	}
	.works-menu li a {
		font-size: 14px;
		padding: 10px 0;		
	}
}